.example {
    text-align: center;
    margin-top: 250px;
    height: 100%;
    
  }

  .font {
      font-size: 16px;      
  }

  .Link{
      color: #595959;
  }

  .lmargin {
      margin-left: 380px
    
  }
  
  .components-layout-demo-responsive .logo {
    height: 32px;
    background: rgba(255,255,255,.2);
    margin: 16px;
  }
  
  .table__row_body:nth-child(even) {
    background-color: darkgrey;
}
.table__row_body:nth-child(odd) {
    background-color: lightgrey;
}
.bgopacity{
    background: rgba(89, 175, 225,0.6)
}
.ant-menu.ant-menu-dark .ant-menu-item-selected, .ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
    background-color:#7e9b51;
}
.table-hover tbody tr:hover {
    background-color: rgba(166, 191, 124, 0.48);
}
::selection {
    background: #1890ff;
    color: #fff;
}
.ant-pagination-item-active {
    border-color: #7e9b51;
    font-weight: 500;
}
.tableContainer{
    
    
    empty-cells:show;
    width:90%;
    text-align:left;
} 

.ant-select-tree-dropdown{
    top: 211 px !important;
}
.Menu-Link {
    color: #fff;
}
.Menu-Link:hover{
    color: #fff
}
.Menu-Link:focus{
    color: #fff;
    text-decoration:none
}