.example {
    text-align: center;
    margin-top: 250px;
    height: 100%;
    
  }

  .font {
      font-size: 16px;      
  }

  .Link{
      color: black;
  }

  .lmargin {
      margin-left: 400px
    
  }
  