.example {
    text-align: center;
    margin-top: 250px;
    height: 100%;
    
  }

  .font {
      font-size: 16px;      
  }

  .Link{
      color: #595959;
  }

  .lmargin {
      margin-left: 400px
    
  }
  
  .components-layout-demo-responsive .logo {
    height: 32px;
    background: rgba(255,255,255,.2);
    margin: 16px;
  }
  
  .table__row_body:nth-child(even) {
    background-color: darkgrey;
}
.table__row_body:nth-child(odd) {
    background-color: lightgrey;
}